[submodule "acceptance"]
  path = acceptance
  url = git@github.com:vuttr-app/acceptance.git
[submodule "frontend"]
  path = frontend
  url = git@github.com:vuttr-app/frontend.git
[submodule "api"]
  path = api
  url = git@github.com:vuttr-app/api.git
